---
import DefaultPage from "@layouts/DefaultPage.astro";
import Content from "@components/Content.astro";
import rawJson from "@assets/output.json"
---

<DefaultPage title="tiptap output" description="from static test json">
	<h1>output:</h1>
	<Content {rawJson} />
</DefaultPage>
