---
import '@styles/editor.css'
---

<script src="../lib/editor.ts"></script>
<div class="menu-bar">
	<button id="heading1">H1</button>
	<button id="heading2">H2</button>
	<button id="heading3">H3</button>
	<button id="bold">Bold</button>
	<button id="italic">Italic</button>
	<button id="strike">Strike</button>
	<button id="highlight">Highlight</button>
	<button id="align-left">Left</button>
	<button id="align-center">Center</button>
	<button id="align-right">Right</button>
	<button id="align-justify">Justify</button>
	<button id="insert-custom">Insert Custom Component</button>
</div>

<template id="editor-content">
    <h1>Tiptap Editor</h1>
</template>

<section id="editor" class="tiptap"></section>
